.input {
  display: flex;
  min-width: 0;
  flex-direction: column;
  gap: var(--spacing-tiny-md);
}

.input:has(.field:disabled) {
  cursor: not-allowed;
}

.label {
  color: var(--color-neutral-foreground-low);
  font-size: var(--caption-xs);
  line-height: var(--line-height-tight);
}

.input:has(.field:disabled) .label {
  color: var(--color-neutral-foreground-disabled);
}

.description {
  color: var(--color-neutral-foreground-low);
  font-size: var(--body-md);
  line-height: 1.4;
}

.fieldWrap {
  position: relative;
  display: flex;
  min-width: 0;
}

.leading {
  position: absolute;
  left: var(--spacing-tiny-lg);
  top: 50%;
  display: flex;
  transform: translateY(-50%);
  z-index: 1;
}

.field {
  width: 100%;
  min-width: 0;
  color: var(--color-neutral-foreground-main);
  font: inherit;
  line-height: var(--line-height-tight);
  background: var(--color-neutral-background-high);
  border-radius: var(--radius-2xs);
  border: 1px solid var(--palette-transparent);
  resize: vertical;
}

.small .field {
  padding: var(--spacing-tiny-lg) var(--spacing-tiny-lg);
  font-size: var(--caption-xs);
}

.small .field.hasLeading {
  padding-left: 32px;
}

.small .field:not(textarea) {
  height: 32px;
}

.medium .field {
  padding: var(--spacing-normal-sm) var(--spacing-normal-sm);
  font-size: var(--caption-md);
  border-radius: var(--radius-xs);
}

.medium .field.hasLeading {
  padding-left: 36px;
}

.medium .field:not(textarea) {
  height: 40px;
}

.field::placeholder {
  color: var(--color-neutral-foreground-lowest);
}

.field:focus-visible {
  border-color: var(--color-neutral-border-highest);
  outline: none;
}

.field:disabled {
  border-color: var(--color-neutral-border-disabled);
  color: var(--color-neutral-foreground-disabled);
  background: var(--color-neutral-background-disabled-main);
  cursor: not-allowed;
}

.input[data-invalid="true"] .field {
  border-color: var(--color-error-border-main);
}

.error {
  color: var(--color-error-foreground-main);
  font-size: var(--body-md);
  line-height: 1.4;
}
